/*--------------------(  Dito lahat lalagay mga design CSS ng divs )--------------------*/
.main-container {
  padding: 20px;
}

/********** All around button animation **********/
.back {
  padding: 10px;
  margin-left: 20px;
}

.back button {
  display: grid;
  align-self: center;
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  border: 80px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primary-text-light);
}



/********** introductions **********/
.introductions {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
.introductions .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(0.1rem, 5vw, 1.2rem);
}

.pictures-svg {
  margin: auto;
  border-radius: 5px;
  /* height: 250px;
  width: 250px; */
  overflow: hidden;
}

.pictures-svg-admin {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.pictures-svg-admin img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.btn {
  margin-top: 60px;
  display: grid;
  place-items: center;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.btn button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}



/********** reglog **********/
.reg-log {
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.reg-log .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.reg-log .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  margin: 0 auto;
}

.reg-log .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.reg-log .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.reg-log .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.reg-log .btn {
  margin-top: 20px;
  display: grid;
  place-items: center;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.reg-log .button1, .reg-log .button2 {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.btn button:active {
  transform: scale(0.95);
}



/********** login **********/
.login {
  display: grid;
  place-items: center;
}
.login .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.login .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.login .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.login .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 230px;
  width: 230px;
  overflow: hidden;
}

.login .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.login form {
  margin-top: -40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.login form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color) ;
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}
.link-sign-up-login {
  margin-top: 10px;
}

.link-sign-up-login p {
  font-family: lora;
  color: var(--secondary-text-color);
}
.link-sign-up-login a {
  text-decoration: none;
  color: var(--primary-color);
}

.login button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.login button:active {
  transform: scale(0.95);
}

/********** register **********/
.register {
  display: grid;
  place-items: center;
}
.register .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.register .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.register .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.register .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 190px;
  width: 190px;
  overflow: hidden;
}

.register .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.register form {
  margin-top: -40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.register form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color) ;
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}
.link-sign-up-login {
  margin-top: 10px;
}

.link-sign-up-login p {
  font-family: lora;
  color: var(--secondary-text-color);
}
.link-sign-up-login a {
  text-decoration: none;
  color: var(--primary-color);
}

.register button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.register button:active {
  transform: scale(0.95);
}


/********** nav **********/
nav {
  z-index: 1;
  position: fixed ;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items:center ;
  justify-content: space-around;
  margin: auto 0;
  gap: 1rem;
  padding: .5rem ;
  background-color: var(--primary-color);
}

/********** home **********/
.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: clamp(300px, 80%, 500px);
  margin-right: 30px;
}
 .search-bar {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  display: grid;
  justify-self: center;
  align-self: center;
  font-family: poppins-light;
  font-size: clamp(1rem, 5vw, .1rem);
  font-weight: 600;
  outline: none;
  padding: 5px 15px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--secondary-text-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.no-results {
  margin-top: 500px;
  margin: auto;
  width: 550px;
}

.no-results .no-result-img {
  margin-top: 500px;
  margin: auto;
  border-radius: 5px;
  height: 230px;
  width: 230px;
  overflow: hidden;
}

.no-results .no-result-img img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit:contain;
}

.no-results p {
  text-align: center;
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--primary-color);
  font-size: clamp(1rem, 5vw, 1.5rem);
}
 .error-otp {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  position: relative;
  background-color: var(--primary-text-light);
  justify-self: end;
  align-self: center;
  border-radius: 50%;
  padding: 7px;
  margin-right: 20px;
  z-index: 10;
}
.navbar-menu button {
  cursor: pointer;
  display: grid;
  justify-self: center;
  align-self: center;
  z-index: 100;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 900;

}

/********** Sidebar Menu **********/
.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: right 0.7s ease;
  z-index: 20;
}

.sidebar .sidebar-close {
  padding: 10px;
  color: var(--primary-text-light);
  display: flex;
  justify-content: flex-start;
}

.sidebar .sidebar-close button {
  background-color: var(--primary-text-light);
  border-radius: 10px;
  transition: all .2s ease;
}
.sidebar .sidebar-close button:hover {
  background-color: var(--primary-color-dark);
  color:  var(--primary-text-light);
}

.sidebar .sidebar-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.sidebar .sidebar-content a {
  text-decoration: none;
}
.sidebar .sidebar-content button {
  font-family: poppins-bold;
  font-size: clamp(1rem, 5vw, 1.5rem);
  border-radius: 10px;
  width: 200px;
  transition: all .2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px; 
}

.sidebar .sidebar-content button:hover {
  background-color: var(--primary-text-light);
}

.sidebar.open {
  right: 0;
}

.menu-btn {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  cursor: pointer;
}

/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 15;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
}

/********** Search collar buttons **********/
.job-collars-container {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--primary-text-color);
  width: 500px;
  padding: 10px;
  z-index: 1;
}

.job-collars-button {
  width: 100%;
  display: flex;
  gap: 10px;
  max-width: 600px;
}
.job-collars-button button {
  font-family: poppins-light;
  text-align: center;
  background-color: var(--primary-color-dark);
  width: 130px;
  border: 10px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(0.1rem, 5vw, 1rem);
  font-weight: 600;
  color: var(--primary-text-light);
}

.job-collars-button button:active {
  transform: scale(0.95);
}


/********** pang details **********/
.details {
  --padding: 10px;
  border-radius: 4px;
  margin-top: 80px;
}

.job-lists-container {
  max-width: 550px;
  margin: auto;
  padding: 20px;
}

.details + .details {
  margin-top: 15px;
}

.details__container {
  border: 2px solid var(--secondary-text-color);
  /* border-bottom: 0; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-bottom-right-radius: ;
  border-bottom-left-radius: ; */
  cursor: pointer;
  position: relative;
}

.details__title {
  --width: 20px;
  --height: 3px;
  --radius: 1px;
  --color: currentColor;
  margin: 0;
  padding: var(--padding) calc(var(--width) * 2) var(--padding) var(--padding);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: -1;
  text-align: left;
}

.details__title .titles h1 {
  font-family: poppins-bold;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.details__title .works h2 {
  font-family: lora;
  color: var(--primary-text-color);
  font-size: clamp(1.3rem, 5vw, 1.2rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
}
.details__title .collars {
  margin-top: 10px;
}

.details__title .collars p {
  font-family: lora;
  font-size: clamp(1.3rem, 5vw, 1.2rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.details__title .collars p span {
  background-color: var(--primary-color-white-grey);
  padding: 5px;
  border-radius: 10px;
}

.details__desc .details__desc-inner .title-details {
  font-size: clamp(0.3rem, 5vw, 0.9rem);
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-color-white-grey);
  color: var(--primary-color);
  font-family: poppins-bold;
  display: inline-block; 
  width: auto; 
  padding: 5px; 
  word-wrap: break-word; 
  max-width: 100%; 
  box-sizing: border-box;
}


.details__desc .details__desc-inner .description {
  padding: 10px;
  background-color: var(--primary-color-white-grey);
  font-family: lora;
  text-indent: 10px;
  color: var(--primary-text-color);
  font-size: clamp(0.3rem, 5vw, 1rem);
  word-break: break-all;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.arrow-button {
  position: absolute;
  display: inline-block;
  top: 35px;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3.5rem, 5vw, 1rem);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 

.details__container[open] .arrow-button {
  transform: rotate(180deg); 
  
}

.details__container[open] {
  border-bottom: none;
}

.details__summary::marker {
  content: '';
}

/* Transition for the content */
.details__desc {
  visibility: hidden;
  display: grid;
  grid-template-rows: auto;
  max-height: 0;
  transition: all .2s ease-in-out;
  overflow: hidden;
  padding-inline: var(--padding);
  border-left:2px solid var(--secondary-text-color) ;
  border-right: 2px solid var(--secondary-text-color);
  }


.footer-desc {
  border: 2px solid var(--secondary-text-color);
  padding: 5px;
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.details__container[open] + .details__desc {
  visibility: visible;
  grid-template-rows: 1fr;
  max-height: none;  /* Adjust this to your needs */
  padding-block: var(--padding);
}

.details__desc-inner {
  min-height: 0;
}

.details-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.details-btn button {
  cursor: pointer;
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  width: 200px;
  font-weight: 600;
  color: var(--primary-text-light);
  font-size: clamp(.5rem, 5vw, 1rem);
  transition: all .2s ease;
}

.details-btn button:hover {
  background-color: var(--primary-color);
}

.details-btn button:active {
  transform: scale(0.95);
}

/********** pang OTP **********/
.otp {
 margin: auto 0;
 margin-top: 50px;
}

.otp h1 {
  text-align: center;
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}
.otp form {
  margin-top: 40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.otp form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}

.otp button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.otp button:active {
  transform: scale(0.95);
}

/********** about **********/
.about-container {
  width: 500px;
  margin: auto;
  border: 1px solid var(--primary-color-white-grey);
  padding: 20px;
  border-radius: 10px;
}
.about {
  display: grid;
  align-self: center;
  justify-self: center;
  gap: 10px;
  padding: 10px;
}

.about-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
  color: var(--primary-color);
}
.about-txt-1 h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
  color: var(--primary-color);
}

.about-txt {
  width: 500px;
  text-align: center;
  padding: 20px;
}
.about-txt-1 {
  text-align: center;
}

.about-txt p {
  text-align:justify;
  text-wrap: balance;
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(.2rem, 5vw, 1rem);
}

.about-txt-1 p {
  text-align:center;
  text-wrap: balance;
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(.2rem, 5vw, 1rem);
}

.about-logo,.about-img {
  margin: auto;
  border-radius: 5px;
  height: 150px;
  width: 250px;
  overflow: hidden;
}

.about-logo img, .about-img img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

/********** Modal **********/
.modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal1.setopen {
  display: flex;
}

.overlay1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content1 {
  width: 250px;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.modal-logout-header {
  display: flex;
  justify-content: flex-end;
}
.modal-content1 .modal-logout-img {
  margin: auto;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.modal-content1 .modal-logout-img img {
  width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;  
}

.modal-content1 .modal-logout-txt p {
  text-align: center;
  font-family: poppins-bold;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.modal-content1 .logout-btn button {
  display: grid;
  align-self: center;
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  border: 80px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primary-text-light);
  transition: all .2s ease;
  width: 200px;
}

.modal-content1 .logout-btn button:hover {
  background-color: var(--primary-color);
}

/* for validations */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: var(--primary-text-light);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h1 {
  font-family: poppins-bold;
  color: var(--primary-color-dark);
  font-size: clamp(2rem, 5vw, 1rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
}

.modal-content p {
  text-align: center;
  font-family: poppins-bold;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, 1rem);
}

.modal-content-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.modal-content button {
  font-family: poppins-bold;
    text-align: center;
    font-size: clamp(1.3rem, 5vw, .6rem);
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color-dark);
    color: var(--primary-text-light);
    transition: all .03s ease;
  }
  
  .modal-content button:hover {
    background-color: var(--primary-color);
  }

/********** post **********/
.job-post-form-title {
  text-align: center;
}
.job-post-form-title h1 {
  font-family: poppins-bold;
  color: var(--primary-color-dark);
  font-size: clamp(2.3rem, 5vw, 1.5rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
}

.job-post-container {
  padding: 20px;
}

.job-post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-white-grey);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.job-post-form form {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.job-post-form form .layer1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  gap: 7px;

}

.job-post-form form .layer1 .post-left, .job-post-form form .layer1 .post-right {
  width: 100%;
  max-width: 500px;
  display: grid;
}


.job-post-form form .layer2 {
  display: grid;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 700px;
}

.job-post-form form .layer3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.layer3-permit input {
  border-radius: 20px;
  background-color: var(--primary-color);
}

.layer3-permit p {
  text-align: center;
  font-family: poppins-bold;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, 1rem);
}

.job-post-form form textarea, .job-post-form form input, .job-post-form form select {
  font-family: poppins-light;
  color: var(--primary-color-text);
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
  background-color: var(--primary-color-white-grey);
  outline: none;
}

.job-post-form form textarea:focus, .job-post-form form input:focus, .job-post-form form select:focus {
  border-color: var(--primary-color);
  background-color: var(--primary-text-light); 
  transition: all .2s ease;
}

select {
  width: 100%;
  border: 2px solid var(--primary-color); 
  border-radius: 5px;
  background-color: var(--primary-color-white-grey);
  outline: none; 
  transition: border-color 0.3s ease, background-color 0.3s ease; 
}

select:focus {
  border-color: var(--primary-color-dark);
  background-color: var(--primary-color-light); 
  transition: all .2s ease;
}

option {
  color: var(--primary-color-dark); 
  background-color: var(--primary-color-white-grey); 
}

.layer2 button {
  display: grid;
  align-self: center;
  justify-self: center;
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  border: 80px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primary-text-light);
  transition: all .2s ease;
  width: 200px;
}

.layer2 button:hover {
  background-color: var(--primary-color);
}

.layer2 .error p {
 text-align: center;
}


/********** tables **********/
.table-container {
  margin: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color-white-grey);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.table-container h3 {
  text-align: center;
  font-family: poppins-bold;
  color: var(--primary-color);
}

table {
  border: none;
  border-radius: 10px;
}

th, tr, td {
  border: 1px solid var(--primary-color-dark);
  border-radius: 5px;
}

th {
  font-family: poppins-light;
  font-size: clamp(0.3rem, 5vw, 0.9rem);
  padding: 10px;
  background-color: var(--primary-color-dark);
  color: var(--primary-text-light);
}

tr, td {
  padding: 3px;
  transition: all .2s ease-out;
  text-align: left;
  font-size: clamp(0.3rem, 5vw, 0.8rem);
}

tr:hover {
  background-color: var(--primary-color);
}

td:hover {
  color: var(--primary-text-light);
}


td button {
  gap: 20px;
  width: 100%;
  border: none;
  padding: 3px;
  border-radius: 10px;
  transition: all .2s ease;
  color: var(--primary-text-light);
  background-color: var(--secondary-color-light);
}

td button:hover {
  background-color: var(--brand-danger);
}

.job-view {
  padding: 10px;
}

/********** Admin DashBoard **********/
.dashboard-sidebar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  z-index: 1;
}


.dashboard {
  width: 300px;
  background-color: var(--primary-text-color);
  border-right: 1px solid #ddd; 
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  text-align: center;
}

.dashboard-title h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
  color: var(--primary-color);
}

.dashboard h2 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
  color: var(--primary-color);
}


.dashboard h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.admin-btn {
  margin-top: 20px;
  width: 100%;
  display: grid;
  justify-self: center;
  align-self: center;
  gap: 10px;
}

.admin-btn a {
  text-decoration: none;
}

.admin-btn button {
  font-family: poppins-bold;
  background-color: var(--primary-text-light);
  font-size: clamp(1rem, 5vw, 1.5rem);
  border-radius: 10px;
  width: 100%;
  transition: all .2s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 16px; 
  border: none;
}

.admin-btn button:hover {
  background-color: var(--primary-color);
  color: var(--primary-text-light);
}

.logo-svg {
  margin: auto;
  border-radius: 5px;
  height: 70px;
  width: 250px;
  overflow: hidden;
}

.logo-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.dashboard-container {
  margin-left: 300px;
  padding: 20px;

}

.bar-graph {
  border: 1px solid var(--primary-color-white-grey);
  width: 100%;
  margin: 0 auto; 
  z-index: 2;
  height: 250px;
  background-color: var(--primary-color-white-grey);
  padding: 10px;
  border-radius: 10px;
}

.pie-graph {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color-white-grey);
  width: 100%;
  margin: 0 auto;
  height: 250px;
  z-index: 2;
  padding: 10px;
  background-color: var(--primary-color-white-grey);
  border-radius: 10px;
}


.doughnut-graph{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color-white-grey);
 width: 100%;
 max-width: 500px;
  margin: 0 auto;
  height: 250px;
  z-index: 2;
  padding: 10px;
  background-color: var(--primary-color-white-grey);
  border-radius: 10px;
}

.graphs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}


/********** dashboard tables **********/
.dashboard-table-container {
  margin: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color-white-grey);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-table-container h3 {
  text-align: center;
  font-family: poppins-bold;
  color: var(--primary-color);
}

.dashboard-table-container table {
  border: none;
  border-radius: 10px;
}

.dashboard-table-container th,  .dashboard-table-container tr, .dashboard-table-container td {
  border: 1px solid var(--primary-color-dark);
  border-radius: 5px;
}

.dashboard-table-container th {
  font-family: poppins-light;
  font-size: clamp(0.3rem, 5vw, 0.7rem);
  padding: 10px;
  background-color: var(--primary-color-dark);
  color: var(--primary-text-light);
}

.dashboard-table-container tr, .dashboard-table-container td {
  padding: 3px;
  transition: all .2s ease-out;
  text-align: left;
  font-size: clamp(0.3rem, 5vw, 0.8rem);
}

.dashboard-table-container tr:hover {
  background-color: var(--primary-color);
}

.dashboard-table-container td:hover {
  color: var(--primary-text-light);
}


.dashboard-table-container td button {
  gap: 20px;
  width: 100%;
  border: none;
  padding: 3px;
  border-radius: 10px;
  transition: all .2s ease;
  color: var(--primary-text-light);
  background-color: var(--secondary-color-light);
}

.dashboard-table-container td button:hover {
  background-color: var(--brand-danger);
}

.dashboard-details {
  padding: 10px;
}


/********** pending **********/
.pending-details {
  --padding: 10px;
  border-radius: 4px;
}

.pending-details h2 {
  text-align: center;
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
  color: var(--primary-color);
}

.credentials-images {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.credentials-images .title-img {
  text-align: center;
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, .6rem);
  white-space: wrap;
  margin: 0 auto;
  color: var(--primary-color);
}

.credentials-images img {
  display: block;
  max-width: 200px;
  margin: 10px 0;
  cursor: pointer;
}

.credentials-images img:active, .credentials-images .title-img img:active {
  transform: scale(0.95);
}

.credentials-images .title-details, .credentials-images .title-img {
  transition: all .2s ease;
  border-radius: 10px;
}

.credentials-images .title-img{
  padding: 20px;
}

.credentials-images .title-details:hover, .credentials-images .title-img:hover {
  background-color: var(--primary-color-dark);
}

.credentials-images .title-img:hover {
  color: var(--primary-text-light);
}

.img-close {
  font-size: clamp(1.3rem, 5vw, .6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  right: 10px; 
  top: 10px;  
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color-dark);
  color: var(--primary-text-light);
  transition: all .03s ease;
}

.img-close:hover {
  background-color: var(--primary-color);
}

/********** loading **********/
.pulse-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pulse {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: var(--green-fade);
  border-radius: 50%;
}
.pulse span {
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius:inherit;
  opacity: .8;
  animation: pulse 2s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulse {
  100% {
      opacity: 0;
      transform: scale(2);
  }
}

