/*--------------------(  Dito lahat lalagay mga design CSS ng divs )--------------------*/
.main-container {
  padding: 20px;
  border: 1px solid red;
}

/********** All around button animation **********/
.btn:active {
  transform: scale(0.95);
}

/********** introductions **********/
.introductions {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
.introductions .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.pictures-svg {
  margin: auto;
  border-radius: 5px;
  /* height: 250px;
  width: 250px; */
  overflow: hidden;
}

.pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.btn {
  margin-top: 60px;
  display: grid;
  place-items: center;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.btn button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}



/********** reglog **********/
.reg-log {
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.reg-log .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.reg-log .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  margin: 0 auto;
}

.reg-log .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.reg-log .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.reg-log .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.reg-log .btn {
  margin-top: 20px;
  display: grid;
  place-items: center;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.reg-log .button1, .reg-log .button2 {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.button1:active, .button2:active {
  transform: scale(0.95);
}

/********** login **********/
.login {
  display: grid;
  place-items: center;
}
.login .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.login .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.login .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.login .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 230px;
  width: 230px;
  overflow: hidden;
}

.login .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.login form {
  margin-top: -40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.login form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color) ;
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}
.link-sign-up-login {
  margin-top: 10px;
}

.link-sign-up-login p {
  font-family: lora;
  color: var(--secondary-text-color);
}
.link-sign-up-login a {
  text-decoration: none;
  color: var(--primary-color);
}

.login button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.login button:active {
  transform: scale(0.95);
}

/********** register **********/
.register {
  display: grid;
  place-items: center;
}
.register .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.register .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.register .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.register .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 190px;
  width: 190px;
  overflow: hidden;
}

.register .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.register form {
  margin-top: -40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.register form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color) ;
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}
.link-sign-up-login {
  margin-top: 10px;
}

.link-sign-up-login p {
  font-family: lora;
  color: var(--secondary-text-color);
}
.link-sign-up-login a {
  text-decoration: none;
  color: var(--primary-color);
}

.register button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.register button:active {
  transform: scale(0.95);
}

/********** nav **********/
nav {
  position:absolute;
  width: 100%;
  z-index: 1;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  padding: .5rem ;
  background-color: var(--primary-color);
  z-index: -1;
}

/********** home **********/
.job-list {
  width: 500px;
  margin: auto;
}

.search-bar {
  display: grid;
  align-self: center;
  justify-self: center;
  border: 1px solid red;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%; /* Ensure it takes full width of its container */
  max-width: 300px; 
  resize: both;
}

.search-bar input {
  font-family: poppins-light;
  font-size: clamp(1rem, 5vw, .1rem);
  font-weight: 600;
  outline: none;
  padding: 5px 15px;
  z-index: 1;
  width: 300px;
  border-radius: 20px;
  border: 1px solid var(--secondary-text-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%; /* Responsive width based on container */
  max-width: 100%; /* Avoid exceeding container width */
}
.no-results {
  border: 1px solid red;
}



.navbar-menu {
  position: relative;
  background-color: var(--primary-text-light);
  justify-self: end;
  align-self: center;
  margin-right: 20px;
  border-radius: 50%;
  padding: 7px;
}
.navbar-menu button {
  display: grid;
  justify-self: center;
  align-self: center;
  z-index: 100;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: clamp(1.2em, 2vw + 1em, 1em);
  font-weight: 900;
}

/********** Sidebar Menu **********/
.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: right 0.7s ease;
  z-index: 2;
}

.sidebar.open {
  right: 0;
}

.menu-btn {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  cursor: pointer;
}

/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
}

































































/*pang details*/
.details {
  --padding: 10px;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.details + .details {
  margin-top: 15px;
}

.details__container {
 border: 1px solid red;
}

.details__title {
  --width: 20px;
  --height: 3px;
  --radius: 1px;
  --color: currentColor;
  margin: 0;
  padding: var(--padding) calc(var(--width) * 2) var(--padding) var(--padding);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.details__title:before,
.details__title:after {
  content: '';
  display: block;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  position: absolute;
  border-radius: var(--radius);
  top: calc(50% - (var(--height) / 2));
  right: calc(var(--width) / 2);
  transition: all 0.2s ease-in-out;
}

.details__title:after {
  rotate: 90deg;
}

.details__container[open] .details__title:before {
  rotate: 45deg;
}

.details__container[open] .details__title:after {
  rotate: 135deg;
}

.details__container[open] .details__title {
  background-color: #f3f3f3;
}

.details__summary::marker {
  content: '';
}

/* Transition for the content */
.details__desc {
  visibility: hidden;
  display: grid;
  grid-template-rows: 0fr;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding-inline: var(--padding);
  padding-block: 0;
  pointer-events: none;
  background-color: aqua;
  border: 1px solid red;
}

.details__container[open] + .details__desc {
  visibility: visible;
  grid-template-rows: 1fr;
  max-height: 500px;  /* Adjust this to your needs */
  padding-block: var(--padding);
  pointer-events: auto;
}

.details__desc-inner {
  min-height: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

table, th, td {
  border: 1px solid;
}