/*--------------------(  Dito lahat lalagay mga design CSS ng divs )--------------------*/
.main-container {
  padding: 20px;
  border: 1px solid red;
}

/********** All around button animation **********/
.btn:active {
  transform: scale(0.95);
}

/********** introductions **********/
.introductions {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
.introductions .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.pictures-svg {
  margin: auto;
  border-radius: 5px;
  /* height: 250px;
  width: 250px; */
  overflow: hidden;
}

.pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.btn {
  margin-top: 60px;
  display: grid;
  place-items: center;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.btn button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}



/********** reglog **********/
.reg-log {
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.reg-log .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.reg-log .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  margin: 0 auto;
}

.reg-log .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.reg-log .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.reg-log .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.reg-log .btn {
  margin-top: 20px;
  display: grid;
  place-items: center;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.reg-log .button1, .reg-log .button2 {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.button1:active, .button2:active {
  transform: scale(0.95);
}

/********** login **********/
.login {
  display: grid;
  place-items: center;
}
.login .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.login .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.login .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.login .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 230px;
  width: 230px;
  overflow: hidden;
}

.login .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.login form {
  margin-top: -40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.login form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color) ;
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}
.link-sign-up-login {
  margin-top: 10px;
}

.link-sign-up-login p {
  font-family: lora;
  color: var(--secondary-text-color);
}
.link-sign-up-login a {
  text-decoration: none;
  color: var(--primary-color);
}

.login button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.login button:active {
  transform: scale(0.95);
}

/********** register **********/
.register {
  display: grid;
  place-items: center;
}
.register .title-txt {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.register .title-txt h1 {
  font-family: poppins-bold;
  letter-spacing: 1px;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 2.1rem);
  white-space: wrap;
  margin: 0 auto;
}

.register .title-txt p {
  font-family: lora;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.register .pictures-svg {
  margin: auto;
  border-radius: 5px;
  height: 190px;
  width: 190px;
  overflow: hidden;
}

.register .pictures-svg img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.register form {
  margin-top: -40px;
  display: grid;
  place-items: center;
  gap: 10px;
}
.register form input {
  font-family: poppins-light;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  border: 1px solid var(--secondary-text-color) ;
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-size: clamp(1rem, 5vw, .1rem);
  outline: none;
}
.link-sign-up-login {
  margin-top: 10px;
}

.link-sign-up-login p {
  font-family: lora;
  color: var(--secondary-text-color);
}
.link-sign-up-login a {
  text-decoration: none;
  color: var(--primary-color);
}

.register button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  width: 150px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(1.1em, 2vw + 1em, 1em);
  font-weight: 600;
  color: var(--primary-text-light);
}

.register button:active {
  transform: scale(0.95);
}


/********** nav **********/
nav {
  position:fixed;
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  padding: .5rem ;
  background-color: var(--primary-color);
}

/********** home **********/

.job-list {
  width: 100%; /* Adjust to the width of the viewport */
  max-width: 500px;
  margin: auto;
  padding: 20px;
}


.search-bar {
  display: grid;
  align-self: center;
  justify-self: center;
  border: 1px solid red;
  padding: 5px;
}

.search-bar input {
  position: fixed;
  top: 10px;
  display: grid;
  justify-self: center;
  align-self: center;
  font-family: poppins-light;
  font-size: clamp(1rem, 5vw, .1rem);
  font-weight: 600;
  outline: none;
  z-index: 1;
  padding: 5px 15px;
  width: clamp(10px, 50%, 450px);;
  border-radius: 20px;
  border: 1px solid var(--secondary-text-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.no-results {
  border: 1px solid red;
  margin-top: 30px;
}


.navbar-menu {
  position: relative;
  background-color: var(--primary-text-light);
  justify-self: end;
  align-self: center;
  border-radius: 50%;
  padding: 7px;
}
.navbar-menu button {
  display: grid;
  justify-self: center;
  align-self: center;
  z-index: 100;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: clamp(1.2em, 2vw + 1em, 1em);
  font-weight: 900;
}

/********** Sidebar Menu **********/
.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: right 0.7s ease;
  z-index: 20;
}

.sidebar.open {
  right: 0;
}

.menu-btn {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  cursor: pointer;
}

/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
}

/********** Search collar buttons **********/
.job-collars-container {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--primary-text-color);
  width: 500px;
  padding: 10px;
}

.job-collars-button {
  width: 100%;
  display: flex;
  gap: 10px;
  max-width: 600px;
}
.job-collars-button button {
  font-family: poppins-light;
  text-align: center;
  background-color: var(--primary-color-dark);
  width: 130px;
  border: 10px;
  border-radius: 80px;
  letter-spacing: 1px;
  font-size: clamp(0.1rem, 5vw, 1rem);
  font-weight: 600;
  color: var(--primary-text-light);
}

.job-collars-button button:active {
  transform: scale(0.95);
}





























































/********** pang details **********/
.job-lists-container {
  margin-top: 50px;
}

.details {
  --padding: 10px;
  /* border: 1px solid #8d8d8d; */
  border-radius: 4px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.details + .details {
  margin-top: 15px;
}

.details__container {
  border: 2px solid var(--secondary-text-color);
  /* border-bottom: 0; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-bottom-right-radius: ;
  border-bottom-left-radius: ; */
}

.details__title {
  --width: 20px;
  --height: 3px;
  --radius: 1px;
  --color: currentColor;
  margin: 0;
  padding: var(--padding) calc(var(--width) * 2) var(--padding) var(--padding);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: -1;
  text-align: left;
}

.details__title .titles h1 {
  font-family: poppins-bold;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.details__title .works h2 {
  font-family: lora;
  color: var(--primary-text-color);
  font-size: clamp(1.3rem, 5vw, 1.2rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
}

.details__title .collars p {
  font-family: lora;
  color: var(--primary-color-dark);
  font-size: clamp(1.3rem, 5vw, 1.2rem);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.details__desc .details__desc-inner .title-details {
  font-size: clamp(0.3rem, 5vw, 0.9rem);
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-color-white-grey);
  color: var(--primary-color);
  font-family: poppins-bold;
  display: inline-block; /* Allows the div to resize based on its content */
  width: auto; /* Automatically adjusts width to fit the content */
  padding: 5px; /* Optional: Add spacing around the text */
  word-wrap: break-word; /* Breaks long words */
  max-width: 100%; /* Ensures the div doesn’t exceed the parent's width */
  box-sizing: border-box;
}


.details__desc .details__desc-inner .description {
  padding: 10px;
  background-color: var(--primary-color-white-grey);
  font-family: lora;
  text-indent: 10px;
  color: var(--primary-text-color);
  font-size: clamp(0.3rem, 5vw, 1rem);
  word-break: break-all;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.details__title:before,
.details__title:after {
  content: '';
  display: block;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  position: absolute;
  border-radius: var(--radius);
  top: calc(50% - (var(--height) / 2));
  right: calc(var(--width) / 2);
  transition: all 0.2s ease-in-out;
}

.details__title:after {
  rotate: 90deg;
}

.details__container[open] .details__title:before {
  rotate: 45deg;
}

.details__container[open] .details__title:after {
  rotate: 135deg;
}

.details__container[open] {
  border-bottom: none;
}

/* .details__container[open] .footer-desc {
  
} */

.details__summary::marker {
  content: '';
}

/* Transition for the content */
.details__desc {
  visibility: hidden;
  display: grid;
  grid-template-rows: auto;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, padding-block 0.3s ease-in-out;
  overflow: hidden;
  padding-inline: var(--padding);
  padding-block: 0;
  pointer-events: none;
  border-left:2px solid var(--secondary-text-color) ;
  border-right: 2px solid var(--secondary-text-color);
  }


.footer-desc {
  border: 2px solid var(--secondary-text-color);
  padding: 5px;
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.details__container[open] + .details__desc {
  visibility: visible;
  grid-template-rows: 1fr;
  max-height: none;  /* Adjust this to your needs */
  padding-block: var(--padding);
  pointer-events: auto;
}

.details__desc-inner {
  min-height: 0;
}

.details-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-btn button {
  font-family: poppins-light;
  background-color: var(--primary-color-dark);
  padding: 10px;
  border: 80px;
  border-radius: 80px;
  letter-spacing: 1px;
  width: 200px;
  font-weight: 600;
  color: var(--primary-text-light);
  font-size: clamp(.5rem, 5vw, 1rem);
}

.details-btn button:active {
  transform: scale(0.95);
}

table, th, td {
  border: 1px solid;
}